@import url('https://fonts.googleapis.com/css?family=Roboto');

.textTeam{
    font-size: 5vw;
    font-family: "Roboto", sans-serif;

    color: #444444;
}

.textPoint{
    font-size: .5em;

}

.connexionCenterPage{
    margin-top: 2vh;
    padding-top: 2vh;
    background-color: #fff;
    border-radius: 2%;
    opacity: 0.9;
}

.fontCardNews{
    font-size: 0.8rem;
}

.homeBody{
    background-image: linear-gradient(120deg, #222c6e 1%,#6ac47a 100%);
    background-size: 100vw;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.teamCardContainer{
    max-width: 90vw;
    margin-top: 9vh !important;
}

.teamCard{
    width: 19vw;
    padding-left: .5vw;
    padding-right: .5vw;
}

.card-body{
    width: 100%;
    padding: 0;

    background-color: #ffffffb0;

    border-radius: 10px;

    box-shadow: 0 8px 20px -9px rgb(48, 47, 47);
}

.card{
    background: none;
    border: none;
}


.navbar{
    height: 7vh !important;
    background-color: #ffffffe8 !important;

    box-shadow: 0 8px 20px -9px rgb(48, 47, 47);
}

.navbar-icon{
    height: 6vh;
}



/*
 _____  _  _         ______         _    _     
/  __ \| |(_)        | ___ \       | |  | |    
| /  \/| | _  _ __   | |_/ /  __ _ | |_ | |__  
| |    | || || '_ \  |  __/  / _` || __|| '_ \ 
| \__/\| || || |_) | | |    | (_| || |_ | | | |
 \____/|_||_|| .__/  \_|     \__,_| \__||_| |_|
             | |                               
             |_|                               
*/

.svgClipped{
    width: 19.5vw;
    height: 19.5vw;
    margin: 1vw;
    margin-top: 2vh;
    background-size: 100vw;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*Delta*/

.svgClipped.Delta{
    /* background-position: -6.5vw -11vh; */
    clip-path: url(#svgPathDelta);
}
  
.svgClipped.Delta::before{
    background-color: #7531a8;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    mix-blend-mode: darken;
    position: absolute;
    top: 0;
    left: 0;
}
  
.svgClipped.Delta::after{
    background-color: #192550;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    mix-blend-mode: lighten;
    position: absolute;
    top: 0;
    left: 0;
}

/*Sigma*/

.svgClipped.Sigma{
    /* background-position: -29vw -11vh; */
    clip-path: url(#svgPathSigma);
}
  
  
.svgClipped.Sigma::before{
    background-color: #6e59ad;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    mix-blend-mode: darken;
    position: absolute;
    top: 0;
    left: 0;
}
  
.svgClipped.Sigma::after{
    background-color: #192550;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    mix-blend-mode: lighten;
    position: absolute;
    top: 0;
    left: 0;
}

/*Theta*/

.svgClipped.Theta{
    /* background-position: -51.5vw -11vh; */
    clip-path: url(#svgPathTheta);
}
  
  
.svgClipped.Theta::before{
    background-color: #60a8b5;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    mix-blend-mode: darken;
    position: absolute;
    top: 0;
    left: 0;
}
  
.svgClipped.Theta::after{
    background-color: #192550;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    mix-blend-mode: lighten;
    position: absolute;
    top: 0;
    left: 0;
}

/*Omega*/

.svgClipped.Omega{
    /* background-position: -74vw -11vh; */
    clip-path: url(#svgPathOmega);
}
  
  
.svgClipped.Omega::before{
    background-color: #58d0ba;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    mix-blend-mode: darken;
    position: absolute;
    top: 0;
    left: 0;
}
  
.svgClipped.Omega::after{
    background-color: #192550;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    mix-blend-mode: lighten;
    position: absolute;
    top: 0;
    left:0;
}

/*
 _____                                        _ 
/  __ \                                      | |
| /  \/  __ _  _ __   ___   _   _  ___   ___ | |
| |     / _` || '__| / _ \ | | | |/ __| / _ \| |
| \__/\| (_| || |   | (_) || |_| |\__ \|  __/| |
 \____/ \__,_||_|    \___/  \__,_||___/ \___||_|                                           
*/


.carousel{
   padding-top: 5vh;
   padding-bottom: 5vh;
   /* background-color: #ffffffb0; */
}

.carousel .card-body{
    padding: 1vw;
    margin-left: 9vw;
    width: 80vw;
    height: 15vh;
    background-color: #ffffffe8;
}

.carousel-control-next,.carousel-control-prev{
    width: 10vw;
}

.card-title.Delta{
    color: #7531a8;
}

.card-title.Sigma{
    color: #6e59ad;
}

.card-title.Theta{
    color: #60a8b5;
}

.card-title.Omega{
    color: #58d0ba;
}

.card-title.Bureau{
    color: #ff5100;
}

.newsBadge{
    height: 100%;
    border-right: #2c2c2c 2px solid;
}

.newsBadge.Delta{
    border-right: #7531a8 2px solid;
}

.newsBadge.Sigma{
    border-right: #6e59ad 2px solid;
}

.newsBadge.Theta{
    border-right: #60a8b5 2px solid;
}

.newsBadge.Omega{
    border-right: #58d0ba 2px solid;
}

.newsBadge.Bureau{
    border-right: #ff5100 2px solid;
}

.newsTextArea{
    top: -1vh;
    padding-left: 1vw !important;
}