<svg class="clipPathMask" height="0">
    <clipPath
        id="svgPathDelta"
        clipPathUnits="objectBoundingBox"
        transform="scale(0.005 0.005)">
        <path
            d="M99.346342,5.0163655A13.909028,14.936336,0,0,1,112.04276,12.468019L198.13763,172.59753A13.909028,14.936336,0,0,1,186.09089,195H13.908316A13.909028,14.936336,0,0,1,1.8623631,172.59753L87.956434,12.468019A13.909028,14.936336,0,0,1,99.346342,5.0163655ZM99.999602,49.79972,37.994652,165.13114H162.00495Z"
            id="path2" />
    </clipPath>

    <clipPath
        id="svgPathSigma"
        clipPathUnits="objectBoundingBox"
        transform="scale(0.005 0.005)">
        <path
            d="M46.321318,194.99844A14.785554,14.785554,0,0,1,33.645161,172.60723L77.20724,99.999822,33.645161,27.392716A14.785554,14.785554,0,0,1,46.321318,5.0012825H153.46563a14.785554,14.785554,0,1,1,0,29.5684535H72.431429l34.693041,57.822842a14.785554,14.785554,0,0,1,0,15.214902l-34.693041,57.82284h81.034201a14.785554,14.785554,0,1,1,0,29.56812z"
            id="path2" />
    </clipPath>

    <clipPath
        id="svgPathTheta"
        clipPathUnits="objectBoundingBox"
        transform="scale(0.005 0.005)">
        <path
            d="M100.00078,195C47.710161,195,5,152.28972,5,99.999143,5,47.708493,47.710161,4.9998932,100.00078,4.9998932,152.29178,4.9998932,195,47.708493,195,99.999143,195,152.28972,152.29178,195,100.00078,195Zm0,-29.82879c36.16952,0,65.17065,-29.00234,65.17065,-65.172067,0,-36.16947-29.00113,-65.1705-65.17065,-65.1705-36.169525,0-65.171831,29.00103-65.171831,65.1705,0,36.169727,29.002306,65.172067,65.171831,65.172067zm35.94075,-92.049517c0,0,0.16673,-2.8912-1.36442,-0.30709-3.51479,5.59493-14.05836,19.84809-34.580986,19.84809-20.522622,0-31.065426,-14.25316-34.580598,-19.84809-1.528437,-2.58489-1.364428,0.30709-1.364428,0.30709v26.87777,26.877457c0,0-0.166724,2.89111,1.364428,0.30708,3.515172,-5.59493,14.057976,-19.84808,34.580598,-19.84808,20.522626,0,31.066196,14.25315,34.580986,19.84808,1.52844,2.58528,1.36442,-0.30708,1.36442,-0.30708V99.999463Z"
            id="path2" />
    </clipPath>

    <clipPath
        id="svgPathOmega"
        clipPathUnits="objectBoundingBox"
        transform="scale(0.005 0.005)">
        <path
            d="m99.893474,5.0006189c44.981276,0,81.747776,36.7666391,81.747776,81.7478221,0,28.935349-15.18842,54.413899-38.02206,68.937839v11.02117h27.70583a14.14702,14.14702,0,1,1,0,28.2923H129.4728a14.14702,14.14702,0,0,1-14.14564,-14.14602v-33.29828a14.14702,14.14702,0,0,1,7.94872,-12.7172c17.78193,-8.66627,30.07711,-26.83423,30.07711,-48.089808,0,-29.691293-23.76794,-53.455905-53.459516,-53.455905-29.691217,0-53.455753,23.764612-53.455753,53.455905,0,21.255578,12.291024,39.423538,30.073323,48.089808a14.14702,14.14702,0,0,1,7.948725,12.7172v33.29828a14.14702,14.14702,0,0,1-14.142237,14.14602h-41.856a14.14702,14.14702,0,1,1,0,-28.2923h27.709607v-11.01732c-22.835528,-14.5237-38.02545,-40.00471-38.02545,-68.941689,0,-44.981183,36.766489,-81.7478221,81.747785,-81.7478221z"
            id="path2" />
    </clipPath>
</svg>